<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>question</key>
	<array>
		<dict>
			<key>selected</key>
			<false/>
			<key>title</key>
			<string>第一题</string>
			<key>answer</key>
			<array>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案A</string>
				</dict>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案B</string>
				</dict>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案C</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>title</key>
			<string>第二题</string>
			<key>answer</key>
			<array>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案A</string>
				</dict>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案B</string>
				</dict>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案C</string>
				</dict>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案D</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>selected</key>
			<false/>
			<key>title</key>
			<string>第三题</string>
			<key>answer</key>
			<array>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案A</string>
				</dict>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案B</string>
				</dict>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案C</string>
				</dict>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案D</string>
				</dict>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案E</string>
				</dict>
				<dict>
					<key>selected</key>
					<false/>
					<key>cellTitle</key>
					<string>答案F</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
